.image-gallery {
    .swiper-slide {
        min-height: 300px;

        @include media-breakpoint-up(md) {
            min-height: 400px;
        }

        @include media-breakpoint-up(lg) {
            min-height: 500px;
        }

        @include media-breakpoint-up(xl) {
            min-height: 800px;
        }
    }
}