// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$apricot: #d74935; // Thats a sample how you could change a BootStrap variable.
$grey: #3a3a3a;
$black: #0a0a0a; 
$white: #ffffff;

$primary: $apricot;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $grey;
$dark: $black;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  jumbo: 1921px
) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
) !default;
// scss-docs-end container-max-widths

// Fonts and Typography
$font-family-sans-serif: 'Open Sans Condensed', sans-serif;
$headings-font-family: $font-family-sans-serif;
$display-font-family: $font-family-sans-serif;

$font-size-base: 1.5rem;

$enable-negative-margins: true;

$btn-close-color: $white;
